<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Data" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Data.Desktop" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Images" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Pdf.Drawing" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Scheduler.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.SpellChecker.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Spreadsheet.Core" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Utils" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Mvc5" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Office" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Reporting" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Reporting.Common" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Scheduler" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Themes" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Web.Visualization" version="20.1.8" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="20.1.8" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>