<form role="form" id="chartnotecomposeform">

    @*<button id="startToReproduceBtn" onclick="startToReproduce()" type="button">Start to reproduce</button>
    <button id="startWithForceSyncBtn" onclick="startWithForceSync()" type="button">Start with forceSyncWithServer</button>
    <button id="startWithFixBtn" onclick="startWithFix()" type="button">Start with fix</button>
    <button id="stopBtn" onclick="stop()" type="button">Stop</button>*@
    @Html.Action("RichEditPartial")
</form>
